*.*
*
!*/
!Makefile
!*.mk
!*.scala
!*.[cSh]
!*.v
!*.cpp
!*.cc
!.gitignore
!.scalafmt.conf
!README.md


# mill
!*.mill
!.mill-version
out/
.bsp/
.idea/
.idea_modules/
test_run_dir/
ysyx-framework/
chisel-env/
riscv-opcodes/
rvdecoderdb/
ysyxSoC/
AdaptSim/
Sim/SoC_model/
Sim/v_model/
Sim/main
